@import url(http://fonts.googleapis.com/css?family=Vibur);
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: arial;
}

body {
  background: #2e2e2e;
}

h1.login {
  color: #999;
  text-align: center;
  /*font-family: 'Vibur', cursive;*/
  font-size: 20px;
  margin-bottom: 25px;
}

.login-form {
  /*width: 350px;*/
  padding: 40px 30px;
  background: #eee;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.login-form img{
  margin-bottom: 10px;
  margin-top: -20px;
}

.form-group-login {
  position: relative;
  margin-bottom: 15px;
}

.form-control-login {
  width: 100%;
  border: none;
  padding: 12px 7px 12px 15px;
  background: #fff;
  color: #666;
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 13px;
}
.form-control-login:focus, .form-control-login:focus + .fa {
  border-color: #10CE88;
  color: #10CE88;
}

.form-group-login .fa {
  position: absolute;
  right: 15px;
  top: 14px;
  color: #999;
}

.log-status.wrong-entry {
  -moz-animation: wrong-log 0.3s;
  -webkit-animation: wrong-log 0.3s;
  animation: wrong-log 0.3s;
}

.log-status.wrong-entry .form-control-login, .wrong-entry .form-control-login + .fa {
  border-color: #ed1c24;
  color: #ed1c24;
}

.log-btn {
  background: #73ca95;
  dispaly: inline-block;
  width: 100%;
  font-size: 16px;
  height: 50px;
  color: #fff;
  text-decoration: none;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.link {
  text-decoration: none;
  color: #C6C6C6;
  float: right;
  font-size: 12px;
  margin-bottom: 15px;
}
.link:hover {
  text-decoration: underline;
  color: #8C918F;
}

.alert{
  color: #f00;
  text-align: center;
  margin: 0;
  padding: 5px 0;
}

@-moz-keyframes wrong-log {
  0%, 100% {
    left: 0px;
  }
  20% , 60% {
    left: 15px;
  }
  40% , 80% {
    left: -15px;
  }
}
@-webkit-keyframes wrong-log {
  0%, 100% {
    left: 0px;
  }
  20% , 60% {
    left: 15px;
  }
  40% , 80% {
    left: -15px;
  }
}
@keyframes wrong-log {
  0%, 100% {
    left: 0px;
  }
  20% , 60% {
    left: 15px;
  }
  40% , 80% {
    left: -15px;
  }
}

.login-footer{
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 12px;
  text-align: center;
  color: #999;
}

.login-form .btn{padding: 10px 0;}
