/* Button */
.btn-primary{background: #73ca95 !important; border: none !important; min-width: 150px;}
.btn-primary:hover, .btn-warning:hover{background: #2e2e2e !important; border: none !important;}

/* Form */
.has-error{ border: 1px solid #f00; }
.alert-success {color: green;}